.bg{
	@include span(12 nest);
	min-height:100vh;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	@include susy-breakpoint($tablet-size){
		background-size: auto 100%;
		width: 100%;
	}
	@include susy-breakpoint($desktop-size){
		background-size: 100%;
		width: 100%;
	}
	.teks{
		background-color: rgba(0, 0, 0, 0.1);
		color:white;
		width: 40%;
		position: relative;
		left: 1%;
		bottom: 30%;
	}
}
.raja{
	background-image: url(/img/rajaampat.jpeg);
}
.komodo{
	background-image: url(/img/komodo.jpeg);
}
.weh{
	background-image: url(/img/weh.jpeg);
}
.banda{
	background-image: url(/img/bandaneira.jpeg);
}
.karimun{
	background-image: url(/img/karimun.jpeg);
}