.background{
  background-color: white;
}
.awwwards{
  position: fixed;
  top: 37px;
  right: 0;
  display: none;
  @include susy-breakpoint (480px){
    display: block;
  }
}
.nav-hide{
      position: fixed;
      top :0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      display: none;
      .menu-hide{
        ul{
          list-style-type: none;
          color:white;
          padding:0;
          text-align: center;
          margin-top: 50%;
          li{
          margin: 20px;
          border-bottom: 1px solid white;
          }
        }
      }
    }
.head-cyka{
  a{
    text-decoration: none;
    color: black;
  }
  .nav-cyka{
    background-color: white;
    height: 40px;
    @include container;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid black 1px;
    .judul{
      @include span (12);
      text-align: center;
        padding-top :5px;
        h1{
          display: none;
        }
      .triggers{
        @include span(2);
        text-align: left;
      }
      .logos{
        @include span (10);
      }
    }
    .menus{
      display: none;
    }
  }
  @include susy-breakpoint($desktop-size){
      .nav-cyka{
          background-color: white;
          height: 40px;
          @include container;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          border-bottom: solid 1px;
          border-color: #aeb3b7;
          .judul{
            @include span (4);
             h1{
                  display: block;
                  margin: 0;
                  font-size: 20px;
                }
            .triggers{
              display: none;
            }
            .logos{
              display: none;
            }
          }
          .menus{
            @include span(8);
            display: block;
              ul{
                  display: block;
                  margin:0;
                  padding:0;
                  a{
                      display: block;
                      color:#000;
                      text-decoration: none;
                  }
                  i{
                      float:right;
                  }
                  li{
                      position:relative;
                      list-style-type: none;
                      float:left;
                      margin:0;
                      padding: 12px 40px 10px 40px;
                      &:hover{
                          background-color:#eee;
                      }
                      &:hover > ul{
                          display: block;
                      }
                  }
                  ul{
                      display: none;
                      position:absolute;
                      top:100%;
                      background-color:rgba(0,0,0,0.8);
                      padding:0;
                      margin:0;
                      left:0;
                      li{
                          float:none;
                          width:200px;
                          margin:0;
                          padding:0;
                      }
                      a{
                          line-height: 120%;
                          padding:10px 15px;
                          color: #fff;
                          &:hover{
                              color: #000;
                          }
                      }
                      ul{
                          top:0;
                          left:100%;
                      }
                  }
              }
            .search{
              @include span(6);
              list-style-type: none;
              display: none;
              li{
                @include span(1 of 3);
                display: inline-block;
                text-align: center;
              }
              li:last-child{
                text-align: right;
              }
            }
          }
        }
    }
}
.main-cyka{
  @include container;
  background-color: white;
  .teks-gede{
    @include span(12);
    text-align: center;
    font-size: 14px;
    padding-top: 100px;
    padding-bottom: 100px;
    h1{
      margin: 0;
    }
  }
    .content-cyka{
      @include container
          .isi {
        @include span(1 of 2);
        text-align: center;
        margin-bottom: 20px;
        height: 250px;
        .date{
          @include span(12);
          margin-bottom: 5px;
        }
        .pics{
          @include span(12);
          img{
            width: 130px;
            height: 100px;
          }
        }
        .titles{
          @include span(12);
          font-weight: bold;
          margin-bottom: 20px;
        }
        .description{
          display:none;
          text-align: left;
        }
      }
    }
    @include susy-breakpoint($desktop-size){
          @include container(1360px);
          background-color: white;
          .teks-gede{
            @include span(12 nest);
            text-align: center;
            font-size: 14px;
            padding-top: 100px;
            padding-bottom: 100px;
            h1{
              margin: 0;
            }
          }
            .content-cyka{
              @include container
                  .isi {
                @include span(1 of 3);
                text-align: center;
                margin-bottom: 20px;
                .date{
                  @include span(12);
                  margin-bottom: 5px;
                }
                .pics{
                  @include span(12);
                  img{
                    width: 370px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    &:hover{
                    opacity: 0.9;
                    }
                  }
                }
                .titles{
                  @include span(12);
                  font-weight: bold;
                }
                .description{
                  display:block;
                }
              }
            }      
    }
    @include susy-breakpoint($tablet-size){
        @include container;
        background-color: white;
        .teks-gede{
          @include span(12);
          text-align: center;
          font-size: 14px;
          padding-top: 100px;
          padding-bottom: 100px;
          h1{
            margin: 0;
          }
        }
          .content-cyka{
            @include container
                .isi {
              @include span(1 of 2);
              text-align: center;
              margin-bottom: 20px;
              height: 500px;
              .date{
                @include span(12);
              }
              .pics{
                @include span(12);
                img{
                  width: 260px;
                  height: 200px;
                  margin-bottom: 10px;
                }
              }
              .titles{
                @include span(12);
                font-weight: bold;
              }
              .description{
                display:block;
              }
            }
          }      
    }
         
}
.foot-cyka{
  @include container;
  background-color: #f7f8f9;
  height: 70px;
  padding-top: 30px;
  .footers{
    @include container(1360px);
    text-align: left;
    .teks-atas{
      border-bottom: 1px solid;
      border-color: #aeb3b7;
      p{
        margin: 0;
      }
    }
    .teks-bawah{
      p{
        margin: 0;
      }
      .fa-heart{
        color:red;
      }
      .fa-apple{
        color:red;
      }
    }
  }
}