.head-font{
	@include container;
	background-color: aqua;
	height: 50px;
	h1{
		text-align: center;
		margin: 0;
		color: white;
	}
}
.main-font{
	@include container(1140px);
	background-color: #FFF;
	height: 2000px;
	.ikon1{
		@include span(12);
		margin-top: 20px;
		i{
			@include span (1 of 5);
		}
	}
}