.fluid-container{
	@include container;
}

.row{
    @include span(12 nest)
    background-color: #808080;
}
.col-2{
    @include span(2);
    border:1px solid black;
}

.col-3{
    @include span(3);
    border:1px solid black;
}

.col-6{
    @include span(6);
    border:1px solid black;
}

.col-9{
	@include span(9);
	border:1px solid black;
}

.col-10{
    @include span(10);
    border:1px solid black;
}

.container{
	@include container(1140px);
	border: 2px solid green;
}

body{
    background-color: #EEEEEE;
    .content{
        color:black;
    }
}
header{
    @include container;
    background-color: #000000;
    height:45px;
    color:#EEEEEE;
    margin-bottom: 20px;
    .navigation{
        @include container(1140px);
    }
    h2{
		text-align: center;
		margin-top: 0;
    }
}
.content{
    @include container(1140px);
    background-color: #FFF;
    min-height:2000px;
    h2{
    	text-align: center;
    }
    .foto{
    	@include span(3);
    	background: white;
    	height:200px;
    	img{
    		width:100%;
    	}
    }
    .info{
    	@include span(9);
    	background: white;
    	height:200px;
    }
    .detail{
    	@include span(12 nest);
    	height : 800px;
    	background-color: #FFF;
    	height:800px;
    	border:2px solid black;
    	border-top: 0px;
    }
    .showreel-list{
    	@include span(12 nest);
    	background-color: #FFF;
    	ul{
    		padding:0;
    	}
    	li{
    		@include span(4 nest);
    		list-style-type: none;
    		border: 1px solid black;
    		display: inline-block;
    		height: 200px;
    	}
    }

}
