.nav-head{
    @include span(12 nest);
    background-color: black;
    height: 60px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    .brand{
        @include span(12 nest);
        border-bottom: 4px solid green;
        img{
            width:60px;
            display: block;
            margin:auto;
        }
    }
    .wrapper-nav{
        @include span(12 nest);
        background-color: white;
            .nav-nav{
                @include span(12 nest);
                ul{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    display: none;
                }
            }
            .trigger{
                float: right;
                @include span(12 nest);
                text-align: right;
                background-color: white;
            }
    }
    @include susy-breakpoint($tablet-size){
        @include span(12 nest);
        height: 65px;
        border-bottom: 4px solid green;
        .brand{
            @include span(3);
            display: inline-block;
            border:none;
            img{
                float: left;
                margin: 0;
            }
        }
        .wrapper-nav{
            @include span(9);
            background:none;
            float: right;
            text-align: right;
            .nav-nav{
                color:white;
                @include span(9);
                ul{
                    display: inline-block;
                }
                li{
                    display: inline-block;
                }
            }
            .trigger{
                display: none;
            }
        }    
        
    }
}
.content-nav{
        @include container(1140px);
        margin-top: 90px;
        text-align: center;
    }